@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

body {
  font-family: 'Noto Serif JP', serif;
  font-size: 18px;
  padding-left: 10vw;
  padding-right: 10vw;
}

.article h4 {
  margin: 0;
}
.article .article-title {
  font-weight: bold;
}

.paragraph h5 {
  margin: 0;
}
.paragraph p {
  margin-top: 0;
  margin-bottom: 1em;
}

ol.ordered-list-type-1 {
  list-style-type: cjk-ideographic;
}
ol.ordered-list-type-2 {
  list-style-type: katakana-iroha;
}

.link-target {
  background-color: #FFC;
}
